<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>MY READING RECORD</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>My reading record</h1>
        <h2>My reading recordは、わたしの読書記録です</h2>
    </header>
    <form action="/signin" method="post">
        <div class="container">
            <label for="email">メールアドレス</label>
            <input type="email" name="email">

            <label for="password">パスワード</label>
            <input type="password" name="password">
        
            <input type="submit" value="サインイン">
        </div>
    </form>
</body>
</html>